.navbar-brand {
    
}
.div {
    background-color: black;


}


.big-banner {
    background-image: url('image/poster.jpg');
    height: 640px;
    width: 96%;

}

.haeding {
    font-size:70px;
    font-family:Arial Black;

}

.divofheading {
    background-color: wheat;

}
  .pro {
    padding-left: 80px;
  }